#model001{
  padding-top: 50px;
  background-color: #02021D;
  color: white;
}

.model001-div{
  margin: 0 7%;
}

.model001-header{
  font-size: 4rem;
}

.model001-image{

}

.model001-intro{
  text-align: center;
}

.model001-button{
  background-color: white;
  padding: 17px 24px;
  border-radius: 30px;
  border: 0;
  outline: 0;
}

.explore-model001-flex, .explore-model001-flex2{
  display: flex;
}

